{
    swagger: "2.0",
    info: {
    description: "Kết nối tất cả",
    version: "1.0.0",
    title: "Viettelpost - Tài liệu API",
    contact: {
    name: "Nguyễn Trọng Luân",
    url: "/",
    email: "luan19@viettelpost.com.vn"
        },
    license: {
    name: "Apache 2.0",
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    host: "partnerdev.viettelpost.vn",
    basePath: "/v2",
    tags: [
        {
    name: "categories-controller",
    description: "Categories Controller"
        },
        {
    name: "commerce-2-controller",
    description: "Commerce 2 Controller"
        },
        {
    name: "core-controller",
    description: "Core Controller"
        },
        {
    name: "order-controller",
    description: "Order Controller"
        },
        {
    name: "payments-controller",
    description: "Payments Controller"
        },
        {
    name: "thu-ho-controller",
    description: "Thu Ho Controller"
        },
        {
    name: "user-controller",
    description: "User Controller"
        }
    ],
    paths: {
    /categories/checkAddressWarning: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "checkAddressWarning",
    operationId: "checkAddressWarningUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "wardId",
    in: "query",
    description: "wardId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/districtByIdAndProvince: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getDistrictByIdAndProvince",
    operationId: "getDistrictByIdAndProvinceUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "districtId",
    in: "query",
    description: "districtId",
    required: true,
    type: "integer",
    format: "int64"
                    },
                    {
    name: "provinceById",
    in: "query",
    description: "provinceById",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listBuuCucVTP: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "listBuuCucVTP",
    operationId: "listBuuCucVTPUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listDistrict: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getListDistrict",
    operationId: "getListDistrictUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "provinceId",
    in: "query",
    description: "provinceId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listNational: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getListNational",
    operationId: "getListNationalUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listProvince: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getListProvince",
    operationId: "getListProvinceUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listProvinceById: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "listProvinceById",
    operationId: "listProvinceByIdUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "provinceId",
    in: "query",
    description: "provinceId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listProvinceNew: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getListProvinceNew",
    operationId: "getListProvinceNewUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listService: {
    post: {
    tags: [
                    "categories-controller"
                ],
    summary: "listService",
    operationId: "listServiceUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/DrafForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listServiceExtra: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "listServiceExtra",
    operationId: "listServiceExtraUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "serviceCode",
    in: "query",
    description: "serviceCode",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listWards: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getListWards",
    operationId: "getListWardsUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "districtId",
    in: "query",
    description: "districtId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listWardsInternal: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getListWardsInternal",
    operationId: "getListWardsInternalUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "districtId",
    in: "query",
    description: "districtId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/listWardsNew: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getListWardsNew",
    operationId: "getListWardsNewUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "provinceId",
    in: "query",
    description: "provinceId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/nationalById: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getNationalById",
    operationId: "getNationalByIdUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "nationalId",
    in: "query",
    description: "nationalId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/provinceById: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getProvinceById",
    operationId: "getProvinceByIdUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "provinceById",
    in: "query",
    description: "provinceById",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /categories/wardByDistrictAndId: {
    get: {
    tags: [
                    "categories-controller"
                ],
    summary: "getWardsByDistrictAndId",
    operationId: "getWardsByDistrictAndIdUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "districtId",
    in: "query",
    description: "districtId",
    required: true,
    type: "integer",
    format: "int64"
                    },
                    {
    name: "wardsId",
    in: "query",
    description: "wardsId",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/complaint-detail: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "complaintDetail",
    operationId: "complaintDetailUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "complaint",
    in: "query",
    description: "complaint",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/create-complaint: {
    post: {
    tags: [
                    "core-controller"
                ],
    summary: "createComplaint",
    operationId: "createComplaintUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "body",
    description: "body",
    required: true,
    schema: {
    type: "object",
    additionalProperties: {
    type: "object"
                            }
                        }
                    },
                    {
    name: "month",
    in: "query",
    description: "month",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/create-token: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "createToken",
    operationId: "createTokenUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "token",
    in: "query",
    description: "token",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/list-bill-vtp: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "listBillVTPay",
    operationId: "listBillVTPayUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "fromDate",
    in: "query",
    description: "fromDate",
    required: true,
    type: "string",
    format: "date-time"
                    },
                    {
    name: "toDate",
    in: "query",
    description: "toDate",
    required: true,
    type: "string",
    format: "date-time"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/list-complaint: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "listComplaint",
    operationId: "listComplaintUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "month",
    in: "query",
    description: "month",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/list-payments/{start
        }/{end
        }: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "listPayments",
    operationId: "listPaymentsUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "end",
    in: "path",
    description: "end",
    required: true,
    type: "string",
    format: "date-time"
                    },
                    {
    name: "start",
    in: "path",
    description: "start",
    required: true,
    type: "string",
    format: "date-time"
                    },
                    {
    name: "status",
    in: "query",
    description: "status",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/off/assign-group-bill: {
    post: {
    tags: [
                    "core-controller"
                ],
    summary: "assignGroupBill",
    operationId: "assignGroupBillUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "body",
    description: "body",
    required: true,
    schema: {
    type: "object",
    additionalProperties: {
    type: "object"
                            }
                        }
                    },
                    {
    name: "os",
    in: "query",
    description: "os",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/off/create-group-bill: {
    post: {
    tags: [
                    "core-controller"
                ],
    summary: "createGroupBill",
    operationId: "createGroupBillUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "body",
    description: "body",
    required: true,
    schema: {
    type: "object",
    additionalProperties: {
    type: "object"
                            }
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/off/list-group-bill: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "listGroupBill",
    operationId: "listGroupBillUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/off/list-group-bill-detail: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "listGroupBillDetail",
    operationId: "listGroupBillDetailUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "group",
    in: "query",
    description: "group",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/off/remove-bill: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "listGroupBillDetail",
    operationId: "listGroupBillDetailUsingGET_1",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "bill",
    in: "query",
    description: "bill",
    required: true,
    type: "integer",
    format: "int64"
                    },
                    {
    name: "group",
    in: "query",
    description: "group",
    required: true,
    type: "integer",
    format: "int64"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/orders/query: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "queryOrder",
    operationId: "queryOrderUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "code",
    in: "query",
    description: "code",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/orders/query-customer: {
    get: {
    tags: [
                    "core-controller"
                ],
    summary: "queryCustomer",
    operationId: "queryCustomerUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "code",
    in: "query",
    description: "code",
    required: true,
    type: "string"
                    },
                    {
    name: "order",
    in: "query",
    description: "order",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /core/orders/save: {
    post: {
    tags: [
                    "core-controller"
                ],
    summary: "saveOrder",
    operationId: "saveOrderUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "edit",
    in: "query",
    description: "edit",
    required: true,
    type: "boolean"
                    },
                    {
    in: "body",
    name: "order",
    description: "order",
    required: true,
    schema: {
    $ref: "#/definitions/OrderSaveForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/CreateOrder-Shopee: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createOrderShopee",
    operationId: "createOrderShopeeUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "request",
    description: "request",
    required: true,
    schema: {
    $ref: "#/definitions/OrderShopeeRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/UpdateOrder: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "updateOrder",
    operationId: "updateOrderUsingPOST_1",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/UpdateOrderForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/UpdateOrder-encrypt: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "updateOrder",
    operationId: "updateOrderUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "dataEncrypt",
    description: "dataEncrypt",
    required: true,
    schema: {
    $ref: "#/definitions/ACBRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/address/admin/active: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "addressNewActive",
    operationId: "addressNewActiveUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "isActive",
    in: "query",
    description: "isActive",
    required: true,
    type: "boolean"
                    },
                    {
    name: "phoneOrEmail",
    in: "query",
    description: "phoneOrEmail",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/address/admin/get: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getAddressNewActive",
    operationId: "getAddressNewActiveUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "phoneOrEmail",
    in: "query",
    description: "phoneOrEmail",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/block-attribute/admin/create/{phoneOrEmail
        }: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createBlockAttribute",
    operationId: "createBlockAttributeUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "blockAttribute",
    description: "blockAttribute",
    required: true,
    schema: {
    $ref: "#/definitions/BlockAttribute"
                        }
                    },
                    {
    name: "phoneOrEmail",
    in: "path",
    description: "phoneOrEmail",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/block-attribute/admin/get/{phoneOrEmail
        }: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getBlockAttribute",
    operationId: "getBlockAttributeUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "phoneOrEmail",
    in: "path",
    description: "phoneOrEmail",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/block-attribute/admin/update/{phoneOrEmail
        }: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "updateBlockAttribute",
    operationId: "updateBlockAttributeUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "blockAttribute",
    description: "blockAttribute",
    required: true,
    schema: {
    $ref: "#/definitions/BlockAttribute"
                        }
                    },
                    {
    name: "phoneOrEmail",
    in: "path",
    description: "phoneOrEmail",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/cache/admin/clear: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "clearCacheRedis",
    operationId: "clearCacheRedisUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "pattern",
    description: "pattern",
    required: true,
    schema: {
    type: "object",
    additionalProperties: {
    type: "string"
                            }
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/cancelOrder-Shopee: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "cancelOrderShopee",
    operationId: "cancelOrderShopeeUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "request",
    description: "request",
    required: true,
    schema: {
    $ref: "#/definitions/CancelOrderShopeeRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/checkEditOrderInfo: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "checkEditOrderInfo",
    operationId: "checkEditOrderInfoUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "checkEditOrderInfoRequest",
    description: "checkEditOrderInfoRequest",
    required: true,
    schema: {
    $ref: "#/definitions/CheckEditOrderInfoRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResData«CheckEditOrderInfoResponse»"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/checkWallet: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "checkWallet",
    operationId: "checkWalletUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "orderNumber",
    in: "query",
    description: "orderNumber",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/create-order-vip: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createOrderSenDo",
    operationId: "createOrderSenDoUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderInfo"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/create-order-vip-12: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createOrderv12",
    operationId: "createOrderv12UsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OldOrderForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/createOrder: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createOrder",
    operationId: "createOrderUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderInfo"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/createOrder-dvc-external: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createOrderDVCExternal",
    operationId: "createOrderDVCExternalUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderDVC"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/createOrderNLP: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createOrderNLP",
    operationId: "createOrderNLPUsingPOST_1",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderAIForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/createOrderNLP-encrypt: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createOrderNLP",
    operationId: "createOrderNLPUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "dataEncrypt",
    description: "dataEncrypt",
    required: true,
    schema: {
    $ref: "#/definitions/ACBRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/createQuestion: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createQuestion",
    operationId: "createQuestionUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/PartnerQuestionCommon"
                        }
                    },
                    {
    name: "secret-id",
    in: "header",
    description: "secret-id",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    type: "object"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/deleteQuestion/{id
        }: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "deleteQuestion",
    operationId: "deleteQuestionUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "id",
    in: "path",
    description: "id",
    required: true,
    type: "string"
                    },
                    {
    name: "secret-id",
    in: "header",
    description: "secret-id",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    type: "object"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/detail: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getOrderDetail",
    operationId: "getOrderDetailUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "oid",
    in: "query",
    description: "oid",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/detail-v2: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getOrderDetailV2",
    operationId: "getOrderDetailV2UsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "o",
    in: "query",
    description: "o",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/edit: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "editOrder",
    operationId: "editOrderUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderInfo"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/editOrderInfoV2: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "editOrderInfoV2",
    operationId: "editOrderInfoV2UsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "editOrderRequest",
    description: "editOrderRequest",
    required: true,
    schema: {
    $ref: "#/definitions/EditOrderRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResData«boolean»"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/encryptLinkPrint: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "encryptLinkPrint",
    operationId: "encryptLinkPrintUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/PrintForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getOrderDetailV3: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getOrderDetailV3",
    operationId: "getOrderDetailV3UsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "OrderNumber",
    in: "query",
    description: "OrderNumber",
    required: true,
    type: "string"
                    },
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getPrice: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "getPrice",
    operationId: "getPriceUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderInfo"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getPrice-dvc-external: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "getPriceDvcExternal",
    operationId: "getPriceDvcExternalUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderPriceDVC"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getPriceAll: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "getPriceAll",
    operationId: "getPriceAllUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderInfo"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getPriceAllNlp: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "getPriceAllNlp",
    operationId: "getPriceAllNlpUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderInfo"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getPriceEditInfo: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "getPriceEditInfo",
    operationId: "getPriceEditInfoUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderEditForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getPriceNlp: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "getPriceNlp",
    operationId: "getPriceNlpUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/OrderInfo"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/getVerificationCode/{orderNumber
        }: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getVerificationCode",
    operationId: "getVerificationCodeUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "orderNumber",
    in: "path",
    description: "orderNumber",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/historyEditOrderInfo: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "historyEditOrderInfo",
    operationId: "historyEditOrderInfoUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/HistoryEditOrderInfoRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResData«List«HistoryEditOrderInfoResponse»»"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/insertVerificationCode/{orderNumber
        }: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "insertVerificationCode",
    operationId: "insertVerificationCodeUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "orderNumber",
    in: "path",
    description: "orderNumber",
    required: true,
    type: "string"
                    },
                    {
    in: "body",
    name: "verificationCode",
    description: "verificationCode",
    required: true,
    schema: {
    $ref: "#/definitions/VerificationCode"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/listQuestion: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "listQuestion",
    operationId: "listQuestionUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "category",
    in: "query",
    description: "category",
    required: false,
    type: "string"
                    },
                    {
    name: "page",
    in: "query",
    description: "page",
    required: false,
    type: "integer",
    default: 0,
    format: "int32"
                    },
                    {
    name: "size",
    in: "query",
    description: "size",
    required: false,
    type: "integer",
    default: 10,
    format: "int32"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    type: "object"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/log/admin/countPartnerAddressNew: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getPartnerCountAddressNew",
    operationId: "getPartnerCountAddressNewUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "pageIndex",
    in: "query",
    description: "pageIndex",
    required: true,
    type: "integer",
    format: "int32"
                    },
                    {
    name: "pageSize",
    in: "query",
    description: "pageSize",
    required: true,
    type: "integer",
    format: "int32"
                    },
                    {
    name: "partnerId",
    in: "query",
    description: "partnerId",
    required: false,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/log/admin/order: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getLogOrder",
    operationId: "getLogOrderUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "orderNumber",
    in: "query",
    description: "orderNumber",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/order-filter: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "listOrderPartner",
    operationId: "listOrderPartnerUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "orderFilter",
    description: "orderFilter",
    required: true,
    schema: {
    $ref: "#/definitions/OrderFilterForm"
                        }
                    },
                    {
    name: "page",
    in: "query",
    description: "page",
    required: true,
    type: "integer",
    format: "int32"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/order-filter-count: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "countOrderPartner",
    operationId: "countOrderPartnerUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "orderFilter",
    description: "orderFilter",
    required: true,
    schema: {
    $ref: "#/definitions/OrderFilterForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/order-payment: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getOrderPayment",
    operationId: "getOrderPaymentUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "bill",
    in: "query",
    description: "bill",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/printing-code: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createPrintCode",
    operationId: "createPrintCodeUsingPOST_1",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/PrintFormV2"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/printing-code-encrypt: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "createPrintCode",
    operationId: "createPrintCodeUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "dataEncrypt",
    description: "dataEncrypt",
    required: true,
    schema: {
    $ref: "#/definitions/ACBRequest"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/pushOrderStatusFailure-file: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "pushOrderStatusFailureWithFile",
    operationId: "pushOrderStatusFailureWithFileUsingPOST",
    consumes: [
                    "multipart/form-data"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "file",
    in: "formData",
    description: "file",
    required: true,
    type: "file"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    type: "object"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/pushOrderStatusFailure-json: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "pushOrderStatusFailureWithJson",
    operationId: "pushOrderStatusFailureWithJsonUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "orderStatusData",
    description: "orderStatusData",
    required: true,
    schema: {
    type: "array",
    items: {
    $ref: "#/definitions/OrderStatusData"
                            }
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    type: "object"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/regex-phone/admin/active: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "activeRegexPhone",
    operationId: "activeRegexPhoneUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "isActive",
    in: "query",
    description: "isActive",
    required: true,
    type: "boolean"
                    },
                    {
    name: "phoneOrEmail",
    in: "query",
    description: "phoneOrEmail",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/regex-phone/admin/get: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "getRegexPhone",
    operationId: "getRegexPhoneUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "phoneOrEmail",
    in: "query",
    description: "phoneOrEmail",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/registerOrderHook: {
    get: {
    tags: [
                    "order-controller"
                ],
    summary: "registerOrderHook",
    operationId: "registerOrderHookUsingGET",
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    name: "mes",
    in: "query",
    description: "mes",
    required: true,
    type: "string"
                    },
                    {
    name: "oid",
    in: "query",
    description: "oid",
    required: true,
    type: "string"
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            },
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "registerOrderHook",
    operationId: "registerOrderHookUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
    required: false,
    type: "string"
                    },
                    {
    in: "body",
    name: "form",
    description: "form",
    required: true,
    schema: {
    $ref: "#/definitions/A71UpdateForm"
                        }
                    }
                ],
    responses: {
                    200: {
    description: "OK",
    schema: {
    $ref: "#/definitions/ResponseEntity"
                        }
                    },
                    201: {
    description: "Created"
                    },
                    401: {
    description: "Unauthorized"
                    },
                    403: {
    description: "Forbidden"
                    },
                    404: {
    description: "Not Found"
                    }
                },
    deprecated: false
            }
        },
    /order/send/mail: {
    post: {
    tags: [
                    "order-controller"
                ],
    summary: "sendMail",
    operationId: "sendMailUsingPOST",
    consumes: [
                    "application/json"
                ],
    produces: [
                    "*/*"
                ],
    parameters: [
                    {
    name: "Token",
    in: "header",
    description: "Partner token, get from login API",
[...]
